<h3>¡Bienvenido {{userEmail}}! Gracias por iniciar sesión.</h3>
<p>Su rol es: {{userRole}}</p>
<h1>Página del home</h1> 

Listado de productos
{{#each payload}}

    <div>Nombre del producto: {{this.title}}, precio: {{this.price}} <button class="add-to-cart-button" data-product-id="{{this._id}}">Agregar al carrito</button></div>
{{/each}}
<a href="{{prevLink}}">Anterior</a>
<a href="{{nextLink}}">siguiente</a>

<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
addToCartButtons.forEach(button => {
  button.addEventListener('click', function () {
    const productId = this.getAttribute('data-product-id');
    addToCart(productId);
  });
});

function addToCart(productId) {
  fetch(`api/carts/65cb1b8ca7536f7e241f1f22/product/${productId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
  })
    .then(response => response.json())
    .then(data => {
      alert('Producto agregado al carrito');
    })
    .catch(error => {
      console.error('Error:', error);
      alert('No se pudo agregar el producto al carrito');
    });
}
</script>
